# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Django specific files
*.log
*.pot
*.pyc
*.sqlite3
*.db
*.db-journal

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database files
*.sqlite3
*.db
*.db-journal

# Logs and temporary files
*.log
*.bak
*.swp
*.tmp

# Environment files
.env
.env.*

# Coverage reports
.coverage
*.cover

# Other
*.swp
