{% extends "files/index.html" %}
{% load static %}

{% block content %}
    <h1>{{ file.name }}</h1>
    <p>Upload Date: {{ file.upload_date }}</p>

    <h2>File Versions</h2>
    <ul class="list-group">
        {% for version in file.versions %}
            <li class="list-group-item">
                Версия {{ version.version_number }} ({{ version.upload_date }})
                <a href="{{ version.download_url }}" class="btn btn-primary btn-sm float-end">Download</a>
            </li>
        {% endfor %}
    </ul>

    <a href="#" class="btn btn-secondary mt-3">Back</a>
{% endblock %}

{% block scripts %}<script src="{% static 'files/download.js' %}"></script>{% endblock %}
